
<div class="grid_wrapper">

  <div class="panel panel-success project_panel">
    <div class="panel-heading">
      <h3 class="panel-title">My Project</h3>
    </div>
    <div class="panel-body">
      <div class="project_panel_description_div">
        <p>Proct Description Proct Description Proct Description</p>
      </div>
      <div class="project_panel_button_div">
        <div class="btn-group project_panel_edit_button">
          <div class="btn-group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Edit
            </a>
            <ul class="dropdown-menu">
              <li><input class="form-control" type="text" name="name" placeholder="name"></li>
              <li><textarea class="form-control" type="text" name="description" placeholder="description"></textarea></li>
              <li><div><button class="btn btn-default btn-sm">Save</button><button class="btn btn-warning btn-sm">Delete</button><div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="well add_project_div">
    <h1>+</h1>
  </div>

</div>

<script type="text/javascript">

  $('.panel-heading').click(function(event) {
    window.location.href = '/project';
  });

  add_project_cancel = function(event) {
    $('.add_project_div').fadeOut(function() {
      $('.add_project_div').html('<h1>+</h1>');
      $('.add_project_div').click(add_project_click);
      $('.add_project_div').fadeIn();
    });
  }

  add_project_save = function(event) {
    $('.add_project_div').fadeOut(function() {
      $('.add_project_div').html('<h1>+</h1>');
      $('.add_project_div').click(add_project_click);
      $('.add_project_div').fadeIn();
      // call ajax save
    });
  }

  add_project_click = function(event) {
    $('.add_project_div').fadeOut(function() {
        $('.add_project_div').html(
          `
            <input class="form-control" type="text" name="name" placeholder="name">
            <textarea class="form-control" rows="1" type="text" name="description" placeholder="description"></textarea>
            <select class="form-control add_project_colour_select">
              <option>Blue</option>
              <option>Green</option>
            </select>
            <button class="btn btn-default btn-md add_project_save_btn">Save</button>
            <button class="btn btn-warning btn-md add_project_cancel_btn">Cancel</button>
          `
        );
        $('.add_project_div').unbind('click');
        $('.add_project_cancel_btn').click(add_project_cancel);
        $('.add_project_save_btn').click(add_project_save);
        $('.add_project_div').fadeIn();
    });
  }

  $('.add_project_div').click(add_project_click);


</script>
