<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link id="theme" rel="stylesheet" href="/stylesheets/bootstrap.<%= theme %>.min.css">
  <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap.css"/>
  <link rel="stylesheet" href="/stylesheets/summernote.css"/>
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/datatables.min.js"></script>
  <script type="text/javascript" src="/javascripts/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/summernote.min.js"></script>
  <title>NoteBook</title>
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">NoteBook</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" id="crumbs">
          <!-- <li><a href="#">Link</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Theme <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a onclick="change_theme('solar')">Solar</a></li>
              <li><a onclick="change_theme('superhero')">Superhero</a></li>
              <li><a onclick="change_theme('slate')">Slate</a></li>
              <li><a onclick="change_theme('flatly')">Flatly</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <%- include(view, view_data); %>
  </div>
</body>
  <script type="text/javascript">

    function change_theme(theme) {
      var css_link = $('#theme');
      var css_link_split = css_link[0].href.split('/');
      var css_file = css_link_split[4];
      var css_file_split = css_file.split('.');
      css_file_split[1] = theme;
      css_link_split.splice(-1, 1);
      css_link_href = css_link_split.join('/') + '/' + css_file_split.join('.');
      css_link[0].href = css_link_href;
      persist_theme(theme);
    }

    function persist_theme(theme) {
      $.post('/settings/theme', {theme: theme}, function(response) {
        console.log(response);
      });
    }

  </script>
</html>
