
<table class="table table-striped project_table">
  <thead>
    <th></th>
    <th>Title</th>
    <th>Type</th>
    <th>Tag</th>
    <th>Steps</th>
    <th>File</th>
  </thead>
  <tbody>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>My Note 1</td>
      <td>text note</td>
      <td>some tag</td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>Issue 1</td>
      <td>issue</td>
      <td></td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>link to documentation</td>
      <td>link</td>
      <td>docs</td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>My Note 1</td>
      <td>text note</td>
      <td>some tag</td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>Issue 1</td>
      <td>issue</td>
      <td></td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>link to documentation</td>
      <td>link</td>
      <td>docs</td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>My Note 1</td>
      <td>text note</td>
      <td>some tag</td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>Issue 1</td>
      <td>issue</td>
      <td></td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>link to documentation</td>
      <td>link</td>
      <td>docs</td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>My Note 1</td>
      <td>text note</td>
      <td>some tag</td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>Issue 1</td>
      <td>issue</td>
      <td></td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>link to documentation</td>
      <td>link</td>
      <td>docs</td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>My Note 1</td>
      <td>text note</td>
      <td>some tag</td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>Issue 1</td>
      <td>issue</td>
      <td></td>
      <td>none</td>
      <td>none</td>
    </tr>
    <tr>
      <td><button class="btn btn-default btn-sm no_radius">View</button></td>
      <td>link to documentation</td>
      <td>link</td>
      <td>docs</td>
      <td>none</td>
      <td>none</td>
    </tr>
  </tbody>
</table>

<script>
  $(document).ready(function(){
      $('.project_table').DataTable();
  });
</script>
